.header-container {
  text-align: center;
}

	.page-title {
		display: block;
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 40px;
		letter-spacing: 6px;
		color: #FF6C6C;
	}

#login-form {
	max-width: 600px;
	margin: 0px auto;
	min-height: 600px;
	background: #FFF none repeat scroll 0% 0%;
}

#signup-form {
	max-width: 600px;
	margin: 0px auto;
	min-height: 600px;
	background: #FFF none repeat scroll 0% 0%;
}

.user-button {
	display: inline;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: #FF6C6C;
	border-radius: 0;
	background-color: transparent;
	color: #FF6C6C;
}
	
	.user-button:hover {
		background-color: #FF6C6C;
		color: white;
		border-color: #FF6C6C;
	}