.header-container {
	text-align: center;
	margin-top: 30px;
}

	.page-title {
		display: block;
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 40px;
		letter-spacing: 6px;
		color: #FF6C6C;
	}

.user-button {
	display: inline;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	letter-spacing: 3px;
	line-height: 25px;
	border-color: #3E7EDE;
	border-radius: 0;
	background-color: transparent;
	color: #FF6C6C;
}
	
	.user-button:hover {
		background-color: #3E7EDE;
		color: white;
		border-color: #3E7EDE;
	}


