.list-container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}


header {
	text-align: center;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}




.delete {
  float: right;
  position: relative;
  margin-top: -5px;
  padding: 4px 7px;
  font-family: 'Lato', sans-serif;  
  font-size: 1em;
  color: #FF6C6C;
  background: transparent;
  border: 1px solid #FF6C6C;
  border-radius: 22px;
}

  .delete:hover {
    color: #fff;
    background-color: #FF6C6C;
  }



li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

/* Custom */



.list-title {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 33px;
	letter-spacing: 6px;
	color: #FF6C6C;
}

.loginButtons {
  color: white;
}

.completed-text {
  margin-top: 30px;
  text-align: center;
}